<!-- Footer -->
<footer id="contact">
    <div class="footer-container">
        <div class="footer-column">
            <h3>CRBC</h3>
            <p>Ceux qui rassemble les brebis de christ.</p>
            <p>Partageons la foi, inspirons le monde.</p>
            <div class="social-icons">
                <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                <a href="/#" class="social-icon"><i class="fab fa-youtube"></i></a>
            </div>
        </div>

        <div class="footer-column">
            <h3>Liens rapides</h3>
            <ul>
                <li><a href="#home">Accueil</a></li>
                <li><a href="#about">À propos</a></li>
                <li><a href="#features">Services</a></li>
                <li><a href="#testimonials">Témoignages</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>Ressources</h3>
            <ul>
                <li><a href="/app/blog">Blog</a></li>
                <li><a href="/activity/medit">Méditations</a></li>
                <li><a href="/activity/study">Études bibliques</a></li>
                <li><a href="/app/shop">Boutique</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>Contact</h3>
            <ul>
                <li><i class="fas fa-map-marker-alt"></i> Pointe-Noire, Congo Brazza-ville</li>
                <li><i class="fas fa-phone"></i> +242 XX XX XX XX</li>
                <li><i class="fas fa-envelope"></i> contact@crbc.org</li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2025 CRBC - Tous droits réservés.</p>
    </div>
</footer>
